# building folder, files
/build
*.exe

# testing files and folder
/tests
*_test.go

# logs, caches, configs, filters
*.log
*.json

# disable chrome extension files
# certificate
*.pem
# extension
*.crx
# except extension manifest
!browser-extensions/chrome/source/manifest.json
