# test and dev folders
/tests
/files

# building folder, files
/build
*.exe

# testing files
*_test.go

# logs, caches, configs
*.log
*.json

# disable chrome extension files
# certificate
*.pem
# extension
*.crx
# except extension manifest
!chrome-extension/source/manifest.json